/* Min Width 1201px and Max Width 1399400*/

@media (min-width: 1201px) and (max-width: 1400px) {
  .services__gif.rotate {
    left: -8%;
  }
}

/* Min Width 993px and Max Width 1199200*/

@media (min-width: 993px) and (max-width: 1200px) {
}

/* Min Width 769px and Max Width 992px */

@media (min-width: 769px) and (max-width: 992px) {
  .hero__content {
    max-width: 400px;
  }

  .hero__content h1 {
    font-size: 64px;
  }

  .vision-mission__wrapper {
    text-align: center;
  }
}

/* Min Width 300px and Max Width 768px */

@media (min-width: 300px) and (max-width: 768px) {
  .hero__content h1 {
    font-size: 56px;
  }

  .hero__wrapper,
  .bg__video {
    height: 100vh;
  }

  .about__wrapper,
  .industries__wrapper,
  .contact__wrapper {
    padding: 80px 0;
  }

  .about__content h2,
  .vision-mission__content h2,
  .services__top h2,
  .faq__content h2,
  .industries__top h2,
  .contact__form-content h2 {
    font-size: 48px;
  }

  .about__content p,
  .vision-mission__content p,
  .services__content p,
  .services__content ul li {
    font-size: 16px;
  }

  .about__img {
    margin-top: 30px;
  }

  .about__shape1 {
    top: 4%;
  }

  .about__shape2 {
    top: 10%;
  }

  .about__shape3 {
    bottom: -14%;
  }

  .about__shape4 {
    bottom: -12%;
  }

  .vision-mission__wrapper {
    text-align: center;
    background-position: center center;
    padding: 100px 0;
  }

  .services__img {
    max-width: 423px;
    margin-top: 50px;
  }

  .services__img img {
    width: 100%;
  }

  .services__gif {
    top: 0;
    right: 1%;
    width: 95%;
  }

  .services__gif.rotate {
    left: 0;
  }

  .services__content h3 {
    font-size: 36px;
  }

  .accordion-button,
  .accordion-button:not(.collapsed) {
    font-size: 18px;
  }

  .footer__wrapper {
    margin-top: 0;
  }

  .footer__content {
    padding-top: 60px;
  }

  .footer__copyright p {
    font-size: 16px;
  }
}
